/* 字体 */
@import url('https://cdn.staticfile.org/lxgw-wenkai-screen-webfont/1.6.0/lxgwwenkaiscreen.css');

* {
    /* Screen version */
    font-family: "LXGW WenKai Screen", sans-serif;
}

:root {
    --b3-theme-primary: #5b68ff;
    --card-color: var(--b3-toolbar-background);
    --border-is: 2px solid rgb(212, 210, 209);
    --line-col: block;
    --border-bottom: 1px dashed #000;
}

/* 数据库图片全宽 */
.av__cellassetimg {
    width: 100% !important;
    height: auto !important;
    max-height: none !important;
}

#dockLeft {
    position: relative;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-right: 5px;
    background-color: var(--card-color);
    box-shadow: 2px 0px 5px rgba(0, 0, 0, 0.2);
}

/* 添加第一个伪元素，用作原来的❄ */
#dockLeft::after {
    content: '❄';
    position: absolute;
    left: 50%;
    /* 在容器中水平居中 */
    font-size: 24px;
    /* 雪花的大小 */
    animation: fall 25s linear infinite;
    /* 无限循环的下落动画 */
    color: rgb(255, 0, 0);
}

/* 添加第二个伪元素，用作新的❄ */
#dockLeft::before {
    content: '❄';
    position: absolute;
    left: 50%;
    /* 在容器中水平居中 */
    font-size: 24px;
    /* 雪花的大小 */
    animation: fall 35s linear infinite;
    /* 无限循环的下落动画 */
    color: rgb(0, 0, 0);
    /* 可选：设置新的雪花颜色 */
}

/* 定义下落动画 */
@keyframes fall {
    0% {
        top: 0%;
    }

    100% {
        top: 90%;
    }
}

#dockRight {
    position: relative;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-left: 1px;
    background-color: var(--card-color);
    box-shadow: -2px 0px 4px rgba(0, 0, 0, 0.2);
}

/* 标签页头 */
.fn__flex.layout-tab-bar [data-type="tab-header"] {
    border-radius: 10px;
    margin: 1px;
    background-color: var(--card-color);
    height: 5px !important;
    border: var(--border-is);
    max-height: 10px !important;
    height: 5px !important;
}

/* 顶部工具栏和底部状态栏 */
#status {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin-top: 3px;
    border-bottom: none;
    /* 移除下边框 */
    border-top: var(--border-is);
    /* 左边框样式 */
    border-right: var(--border-is);
    /* 右边框样式 */
    border-left: var(--border-is);
    /* 下边框样式 */
}

#toolbar {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    margin-bottom: 3px;
    border-top: none;
    /* 移除上边框 */
    border-left: var(--border-is);
    /* 左边框样式 */
    border-right: var(--border-is);
    /* 右边框样式 */
    border-bottom: var(--border-is);
    /* 下边框样式 */
}


/* 菜单 */
.b3-menu,
.b3-menu__submenu {
    background-color: var(--card-color);
    border: var(--border-is);
}

/* 菜单项 */
.b3-menu__item {
    border: var(--border-is);
}

/* 文档树与标签页 */
.layout-tab-container.fn__flex-1 {
    border-radius: 10px;
    margin: 1px;
    border: var(--border-is);
    margin-right: 4px;
}

/* 社区下载卡片 */
.b3-card.b3-card--wrap {
    border: var(--border-is);
}

/* 标签页头空余 */
/* .layout-tab-bar.layout-tab-bar--readonly.fn__flex-1 {
    border-radius: 10px;
    margin: 1px;
    box-shadow: 0 0 14px rgba(0, 0, 0, 0.2);
} */

/* 对话框（设置） */

.b3-dialog__container {
    border-radius: 10px;
    margin: 1px;
    border: 2px solid rgb(117, 101, 81);
}

/* 对话框列项 */
.b3-menu .b3-menu__item {
    border-radius: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    border-top-width: 0px
}

.b3-menu .b3-menu__item:first-child {
    border-top-left-radius: var(--b3-border-radius-b);
    border-top-right-radius: var(--b3-border-radius-b);
    border-top-width: 2px
}

.b3-menu .b3-menu__separator+.b3-menu__item {
    border-top-width: 2px
}

.b3-menu .b3-menu__item:last-child {
    border-bottom-left-radius: var(--b3-border-radius-b);
    border-bottom-right-radius: var(--b3-border-radius-b)
}



/* 内容框 */
.b3-select,
.b3-button,
.b3-text-field {
    border-width: 2px;
    border-style: solid;
    border-color: tan;
}

/* 按钮分界线 */
.b3-menu__separator {
    position: relative;
    height: 1px;
    margin: 10px 0;
    background: linear-gradient(to right, black 40%, red 60%);
}

.b3-menu__separator::before {
    content: "★";
    position: absolute;
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 5px;
    background-color: transparent;
    color: var(--line-col);
}

/* 标题样式 */
div[data-subtype="h1"] {
    position: relative;
}

div[data-subtype="h1"]:after {
    content: "";
    font-size: 8px;
    right: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgb(29, 157, 129), red);
}

div[data-subtype="h2"] {
    position: relative;
}

div[data-subtype="h2"]:after {
    content: "";
    font-size: 8px;
    left: 0;
    position: absolute;
    width: 100%;
    height: 1px;
    background: linear-gradient(to right, rgb(255, 255, 255), rgb(0, 0, 0));
}

/* 隐藏文档树于文档页间细线 */
.layout__resize--lr::after {
    display: none;
}

/* 标题下虚线 */
.protyle-title__input::after {
    content: '';
    display: block;
    border-bottom: var(--border-bottom);
    /* 设置虚线样式，可以根据需要调整颜色和宽度 */
    margin-top: 5px;
    /* 设置虚线与文本的间距，根据需要调整 */
}

/* .av__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.av__row {
    width: 15%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
}

.av__cell {
    width: 30%;
}

.av__row--util,
.av__row--footer,
.av__gutters,
.av__firstcol.av__colsticky,
.av__row.av__row--header {
    display: none;
} */

/* REF https://github.com/svchord/Rem-Craft */
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.protyle-action{
    color:rgb(70, 110, 220);;
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.protyle-action svg{
    margin:0;
    width:16px;
    height:16px;
    padding:0px 0px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.list:has(.block-focus)>.li::after{
    content:"";
    display:block;
    position:absolute;
    pointer-events:none;
    width:34px;
    left:-18px;
    top:-20px;
    border-style:solid;
    border-color:rgb(70, 110, 220);;
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.list:has(.block-focus)>.li:not(:has(.block-focus))::after{
    bottom:-2px;
    border-width:0 0 0 2px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.list:has(.block-focus)>.li:has(.block-focus)::after{
    height:38px;
    border-radius:0 0 0 5px;
    border-width:0 0 2px 2px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.list:has(.block-focus)>.li:has(.block-focus)~.li:not(:has(.block-focus))::after{
    border-color:rgba(0,0,0,0)
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.list:has(.block-focus)>.li[data-subtype=o]::after{
    width:24px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>.list:has(.block-focus)>.li[data-subtype=t]::after{
    width:28px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id]::after{
    content:"";
    display:block;
    position:absolute;
    pointer-events:none;
    width:34px;
    left:-18px;
    top:-20px;
    border-style:solid;
    border-color:rgb(70, 110, 220);
    top:20px;
    height:calc(100% + 4px);
    border-width:0 0 0 2px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id]:has(+.list)::after{
    height:auto;
    bottom:0
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id][data-type=NodeHeading]::after{
    top:0;
    height:185%
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id].list:has(.block-focus)::after,.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id].list:has(.block-focus)~[data-node-id]::after,.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id].bq:has(.block-focus)::after,.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id].bq:has(.block-focus)~[data-node-id]::after,.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id].sb:has(.block-focus)::after,.protyle-wysiwyg [data-node-id].li:has(.block-focus)>[data-node-id].sb:has(.block-focus)~[data-node-id]::after{
    border-color:rgba(0,0,0,0)
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[fold="1"]>[data-node-id]::after,.protyle-wysiwyg [data-node-id].li:has(.block-focus):has(>.block-focus)>[data-node-id]::after{
    border-color:rgba(0,0,0,0)
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=o]:has(.block-focus)>.list:has(.block-focus)>.li::after{
    top:-10px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=o]:has(.block-focus)>.list:has(.block-focus)>.li:has(.block-focus)::after{
    height:28px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=t]:has(.block-focus)>.protyle-action{
    color:rgb(70, 110, 220);;
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=t]:has(.block-focus)>.protyle-action svg{
    margin:0;
    width:14px;
    height:14px;
    padding:0px 0px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=t]:has(.block-focus)>.list:has(.block-focus)>.li::after{
    top:-14px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=t]:has(.block-focus)>.list:has(.block-focus)>.li:has(.block-focus)::after{
    height:32px
}
.protyle-wysiwyg [data-node-id].li:has(.block-focus)[data-subtype=t]:has(.block-focus).protyle-task--done>.list:has(.block-focus)>.li::after{
    border-color:rgba(139, 139, 139)
}